*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-color: #4d4d4d;
  padding: 0 35px;
}

.card-container{
  display:flex;
  width: 300px;
  height: auto;
  background: #212226;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
}

.header{
  border-right: 1px solid #ddd;
}

.descripcion{
  background: #212226;

}

.header.descripcion{
  padding: 15px;
  text-align: center;
}

.header a{
  position:relative;
  display:block;
}

.header img{
  align-items: center;
  border-radius: 70%;
  box-shadow: 0 0 0 8px rgba(0,0,0,.06);
  margin: 20px 30px;
  transition: 0.2s;
}

.header a:hover img{
  box-shadow: 0 0 0 8px rgba(0,0,0,.1);
}

.header h3{
  margin-bottom: 20px;
}

.descripcion{
  position: relative;
}

.descripcion p{
  margin: 20px 30px;
}

.descripcion .actions{
margin-top: 25px;
}

.descripcion .actions a{
display: inline-block;
padding: 0 15px;
}

.ion-icon{
  color:white;
  height: 45px;
  width: 45px;
  background-color: transparent;
}

@media(max-width:400px){
  .card-container{
    display:block;
    width: 270px;
  }
  .header{
    padding: 20px 20px 5px 20px;
    border:0;
  }
  .descripcion{
    padding: 5px 15px 15px 20px;
    background: transparent;
  }
}

