<ion-header>
  <ion-toolbar color= "primary">
    <ion-title>¡Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
<ion-list-header>Lista de cosas pendientes
<ion-button routerLink="/lista-input">
  <ion-icon name="add" slot="icon-only"></ion-icon>
</ion-button>
</ion-list-header>
<ion-list *ngFor="let message of getList(); let i = index">
        <ion-item>
          <ion-label>{{message.titulo}}</ion-label><ion-checkbox></ion-checkbox><ion-button name="trash" (click)="borrarList(i)">Eliminar</ion-button>
        </ion-item>
</ion-list>
</ion-content>









