<ion-header>
  <ion-toolbar color= "primary">
    <ion-title align="center">¡Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-content">
<ion-list-header>Lista de cosas pendientes
<ion-button routerLink="/lista-input">
  <ion-icon  class="ion-icon" name="add" ></ion-icon>
</ion-button>
</ion-list-header>
<ion-list *ngFor="let message of getList(); let i = index">
  <div *ngIf="message.email == data.correo">
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="danger" ><ion-icon class="ion-icon" slot="end" (click)="borrarList(i)" name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    <ion-item>
      <ion-label>{{message.titulo}}</ion-label><ion-checkbox></ion-checkbox>
      <hr style="height: 1px; border: none; color: aqua; background-color: #4d4d4d;">


  </ion-item>
</ion-item-sliding>
      </div>
      </ion-list>
</ion-content>









