<ion-header>
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/evento-input">
        <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let eventos of getEventos(); let i = index">
    <ion-card>
      <ion-card-header>
        <ion-card-title displayFormat="MMM DD, YYYY">      {{eventos.date| date}}</ion-card-title>
        <hr style="height: 1px; border: none; color: aqua; background-color: #515356;">
        <div class="contenido">
          <div class="texto">
            <ion-icon name="Calendar"></ion-icon>
            <div class="texto-correccion">
            <ion-card-title >{{eventos.titulo}}</ion-card-title>
            <ion-card-subtitle>{{eventos.descripcion}}</ion-card-subtitle>
            </div>
          </div>
            <ion-button class="boton" (click)="editarEvento(i)" routerLink="/evento-editar"><ion-icon slot="end" name="chevron-forward-outline" ></ion-icon></ion-button>
        </div>
      </ion-card-header>
     
          </ion-card>
  </ion-list>
</ion-content>