<ion-header>
  <ion-toolbar color= "primary">
  <ion-buttons slot= "start">
  <ion-back-button defaultHref="/notas"></ion-back-button>
  </ion-buttons>
  <ion-title>Agregar nueva nota</ion-title>
    </ion-toolbar>
 </ion-header>

<ion-content>
 <form [formGroup]= "datosForm" (ngSubmit)="ingresarDatos(datosForm.value)">
  <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input formControlName="titulo" placeholder="Ejem. Estudiar para el examen de Apps"></ion-input>
  </ion-item>
 <div class="errors">
   <ng-container *ngFor="let validation of mensajesValidacion.datos">
     <div *ngIf="
     datosForm.get('titulo').hasError(validation.type) &&
     (datosForm.get('titulo').dirty || datosForm.get('titulo').touched)
     ">
       {{ validation.message }}
     </div>
   </ng-container>
 </div>
 <ion-item>
   <ion-label position="floating">Descripcion</ion-label>
   <ion-textarea formControlName="descripcion" placeholder="Ejem. Estudiar pagina 198 del libro"></ion-textarea>
 </ion-item>
 <div class="errors">
   <ng-container *ngFor="let validation of mensajesValidacion.datos">
     <div *ngIf=" datosForm.get('descripcion').hasError(validation.type) &&
     (datosForm.get('descripcion').dirty || datosForm.get('descripcion').touched) ">
       {{ validation.message }}
     </div>
   </ng-container>
 </div>

 <ion-button required expand="block" [disabled]="!datosForm.valid" type="submit" routerLink="/notas">Ingresar</ion-button>
</form>

</ion-content>
